.wrapper {

        width: 100%;
        margin-left: 60px;
        align-items: center;
        max-width: 1270px;
        color: #ffffff;
        height: 50px;
    display: flex;
    text-decoration-style: none;
}
.element {
   text-decoration-style: none;
}