.wrapper {
    margin:20px 15px;
}

.itemImages {
    width: 100%;
}

.title {
    display      : inline-block;
    border       : 1px solid black;
    border-radius: 6px;
    padding      : 4px 8px;
}

.textWrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}